@model IList<Favorite>

@{
    ViewData["Title"] = "My Favorites";
}

@{
    if (Model != null && Model.Count > 0)
    {
        <div class="row">
            @foreach (var favorite in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <!-- Food image -->
                        <img class="card-img-top" src="@favorite.Food.ImageSrc" alt="@favorite.Food.Name" />
                        <div class="card-body">
                            <!-- Food details -->
                            <h5 class="card-title">@favorite.Food.Name</h5>
                            <p class="card-text">@favorite.Food.Description</p>
                            <p class="card-text text-success fw-bold">@favorite.Food.Price CZK</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-dark mt-auto"
                               onclick="Buy(@favorite.Food.Id,
                                                                    '@Url.Action(nameof(CustomerOrderCartController.AddOrderItemsToSession),
                                                                 nameof(CustomerOrderCartController).Replace(nameof(Controller), String.Empty), new { Area = nameof(UTB.RestauraciaWeb.Areas.Customer) })',
                                                                    '#total_price',
                                                                    '@System.Globalization.CultureInfo.CurrentCulture.Name')">Add to my cart</a>
                            <a class="btn btn-outline-dark mt-auto"
                               onclick="Buy(@favorite.Food.Id,
                                                                    '@Url.Action(nameof(CustomerOrderCartController.AddOrderItemsToSession),
                                                                 nameof(CustomerOrderCartController).Replace(nameof(Controller), String.Empty), new { Area = nameof(UTB.RestauraciaWeb.Areas.Customer) })',
                                                                    '#total_price',
                                                                    '@System.Globalization.CultureInfo.CurrentCulture.Name')">Remove Favorite</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }


}