@model IList<Reservation>
@{
    ViewData["Title"] = "Reservation preview";
}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-75">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Create">Create Reservations</a>
        <div class="d-flex">
        </div>
    </div>
</nav>


<table class="table">
    <thead>
        <tr>
            <th>@nameof(Reservation.Time)</th>
            <th>@nameof(Reservation.NumberOfGuests)</th>
            <th>@nameof(Reservation.RestaurantTable)</th>
            <th>@nameof(Reservation.SpecialRequest)</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Reservation reservation in Model)
        {

            <tr>
                <th>@reservation.Time</th>
                <th>@reservation.NumberOfGuests</th>
                <th>@reservation.RestaurantTable.TableNumber</th>
                <th>@reservation.SpecialRequest</th>
                <td><a class="btn btn-primary" role="button" asp-action="Delete" asp-route-id="@reservation.Id" onclick="return ConfirmDelete();">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
